#Importing Items

In [1]:
import pandas as pd
import numpy as np
#import seaborn to make a nice heatmap for our confusion matrix
import seaborn as sns

In [2]:
DF1path  = '/content/drive/MyDrive/Boot  Camp/Project two/MushroomDataset/secondary_data.csv'
DF2path  = '/content/drive/MyDrive/Boot  Camp/Project two/stocks/fundamentals.csv'

In [3]:
def printNull(dataFrame):
    '''
    prints the Nulls in a Data Set
    '''
    print(dataFrame.isnull().sum())

#DataFrame #1

1) Source of data
>https://archive-beta.ics.uci.edu/ml/datasets/mushroom

2) Brief description of data
>trying to find Edible, or poisonous mushrooms(If not edible they fall here as well)

3) What is the target?
>if it's edible

4) Is this a classification or regression problem?
>classification

5) How many features?
>20

6) How many rows of data.
>61069

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
>cleaning all the Null  values, or replacing them with the corisponding feilds.

Dictionary of cloumns
>
Variable Information:
   (n: nominal, m: metrical; nominal values as sets of values)
   1. cap-diameter (m):			
   >float number in cm

   2. cap-shape (n):            
   >bell=b, conical=c, convex=x, flat=f,sunken=s, spherical=p, others=o

   3. cap-surface (n):          
   >fibrous=i, grooves=g, scaly=y, smooth=s,shiny=h, leathery=l, silky=k, sticky=t,wrinkled=w, fleshy=e

   4. cap-color (n):            
   >brown=n, buff=b, gray=g, green=r, pink=p,purple=u, red=e, white=w, yellow=y, blue=l, orange=o,  black=k

   5. does-bruise-bleed (n):	
   >bruises-or-bleeding=t,no=f

   6. gill-attachment (n):      
   >adnate=a, adnexed=x, decurrent=d, free=e, sinuate=s, pores=p, none=f, unknown=?

   7. gill-spacing (n):         
   >close=c, distant=d, none=f

   8. gill-color (n):           
   >see cap-color + none=f

   9. stem-height (m):			
   >float number in cm

   10. stem-width (m):			
   >float number in mm   

   11. stem-root (n):           
   >bulbous=b, swollen=s, club=c, cup=u, equal=e,rhizomorphs=z, rooted=r

   12. stem-surface (n): 		
   >see cap-surface + none=f

   13. stem-color (n):			
   >see cap-color + none=f

   14. veil-type (n):           
   >partial=p, universal=u

   15. veil-color (n):          
   >see cap-color + none=f

   16. has-ring (n):            
   >ring=t, none=f

   17. ring-type (n):           
   >cobwebby=c, evanescent=e, flaring=r, grooved=g,large=l, pendant=p, sheathing=s, zone=z, scaly=y, movable=m, none=f, unknown=?

   18. spore-print-color (n):   
   >see cap color

   19. habitat (n):             
   >grasses=g, leaves=l, meadows=m, paths=p, heaths=h,urban=u, waste=w, woods=d

   20. season (n):				
   >spring=s, summer=u, autumn=a, winter=w

In [4]:
df1 = pd.read_csv(DF1path, sep=';', header=None)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
printNull(df1)

0         0
1         0
2         0
3     14120
4         0
5         0
6      9884
7     25063
8         0
9         0
10        0
11    51538
12    38124
13        0
14    57892
15    53656
16        0
17     2471
18    54715
19        0
20        0
dtype: int64

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61070 entries, 0 to 61069
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       61070 non-null  object
 1   1       61070 non-null  object
 2   2       61070 non-null  object
 3   3       46950 non-null  object
 4   4       61070 non-null  object
 5   5       61070 non-null  object
 6   6       51186 non-null  object
 7   7       36007 non-null  object
 8   8       61070 non-null  object
 9   9       61070 non-null  object
 10  10      61070 non-null  object
 11  11      9532 non-null   object
 12  12      22946 non-null  object
 13  13      61070 non-null  object
 14  14      3178 non-null   object
 15  15      7414 non-null   object
 16  16      61070 non-null  object
 17  17      58599 non-null  object
 18  18      6355 non-null   object
 19  19      61070 non-null  object
 20  20      61070 non-null  object
dtypes: object(21)
memory usage: 9.8+ MB

In [7]:
df1.head()

      0             1          2   ...                 18       19      20
0  class  cap-diameter  cap-shape  ...  spore-print-color  habitat  season
1      p         15.26          x  ...                NaN        d       w
2      p          16.6          x  ...                NaN        d       u
3      p         14.07          x  ...                NaN        d       w
4      p         14.17          f  ...                NaN        d       w

[5 rows x 21 columns]

#DataFrame #2

1) Source of data
>https://www.kaggle.com/dgawlik/nyse?select=prices.csv

2) Brief description of data
>S&P 500 compienes

3) What is the target?
> findout which one is the best to invest in

4) Is this a classification or regression problem?
>regression

5) How many features?
>79+

6) How many rows of data.
>1781

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
>Use 4 different DataFrames to make one prediction

In [8]:
df2 = pd.read_csv(DF2path)

In [9]:
df2.head()

   Unnamed: 0 Ticker Symbol  ... Earnings Per Share  Estimated Shares Outstanding
0           0           AAL  ...              -5.60                  3.350000e+08
1           1           AAL  ...             -11.25                  1.630222e+08
2           2           AAL  ...               4.02                  7.169154e+08
3           3           AAL  ...              11.39                  6.681299e+08
4           4           AAP  ...               5.29                  7.328355e+07

[5 rows x 79 columns]

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1781 entries, 0 to 1780
Data columns (total 79 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unnamed: 0                                           1781 non-null   int64
 1   Ticker Symbol                                        1781 non-null   object
 2   Period Ending                                        1781 non-null   object
 3   Accounts Payable                                     1781 non-null   float64
 4   Accounts Receivable                                  1781 non-null   float64
 5   Add'l income/expense items                           1781 non-null   float64
 6   After Tax ROE                                        1781 non-null   float64
 7   Capital Expenditures                                 1781 non-null   float64
 8   Capital Surplus                                      1781 non-null   float64
 9   Cash Ratio                                           1482 non-null   float64
 10  Cash and Cash Equivalents                            1781 non-null   float64
 11  Changes in Inventories                               1781 non-null   float64
 12  Common Stocks                                        1781 non-null   float64
 13  Cost of Revenue                                      1781 non-null   float64
 14  Current Ratio                                        1482 non-null   float64
 15  Deferred Asset Charges                               1781 non-null   float64
 16  Deferred Liability Charges                           1781 non-null   float64
 17  Depreciation                                         1781 non-null   float64
 18  Earnings Before Interest and Tax                     1781 non-null   float64
 19  Earnings Before Tax                                  1781 non-null   float64
 20  Effect of Exchange Rate                              1781 non-null   float64
 21  Equity Earnings/Loss Unconsolidated Subsidiary       1781 non-null   float64
 22  Fixed Assets                                         1781 non-null   float64
 23  Goodwill                                             1781 non-null   float64
 24  Gross Margin                                         1781 non-null   float64
 25  Gross Profit                                         1781 non-null   float64
 26  Income Tax                                           1781 non-null   float64
 27  Intangible Assets                                    1781 non-null   float64
 28  Interest Expense                                     1781 non-null   float64
 29  Inventory                                            1781 non-null   float64
 30  Investments                                          1781 non-null   float64
 31  Liabilities                                          1781 non-null   float64
 32  Long-Term Debt                                       1781 non-null   float64
 33  Long-Term Investments                                1781 non-null   float64
 34  Minority Interest                                    1781 non-null   float64
 35  Misc. Stocks                                         1781 non-null   float64
 36  Net Borrowings                                       1781 non-null   float64
 37  Net Cash Flow                                        1781 non-null   float64
 38  Net Cash Flow-Operating                              1781 non-null   float64
 39  Net Cash Flows-Financing                             1781 non-null   float64
 40  Net Cash Flows-Investing                             1781 non-null   float64
 41  Net Income                                           1781 non-null   float64
 42  Net Income Adjustments                               1781 non-null   float64
 43  Net Income Applicable to Common Shareholders         1781 non-null   float64
 44  Net Income-Cont. Operations                          1781 non-null   float64
 45  Net Receivables                                      1781 non-null   float64
 46  Non-Recurring Items                                  1781 non-null   float64
 47  Operating Income                                     1781 non-null   float64
 48  Operating Margin                                     1781 non-null   float64
 49  Other Assets                                         1781 non-null   float64
 50  Other Current Assets                                 1781 non-null   float64
 51  Other Current Liabilities                            1781 non-null   float64
 52  Other Equity                                         1781 non-null   float64
 53  Other Financing Activities                           1781 non-null   float64
 54  Other Investing Activities                           1781 non-null   float64
 55  Other Liabilities                                    1781 non-null   float64
 56  Other Operating Activities                           1781 non-null   float64
 57  Other Operating Items                                1781 non-null   float64
 58  Pre-Tax Margin                                       1781 non-null   float64
 59  Pre-Tax ROE                                          1781 non-null   float64
 60  Profit Margin                                        1781 non-null   float64
 61  Quick Ratio                                          1482 non-null   float64
 62  Research and Development                             1781 non-null   float64
 63  Retained Earnings                                    1781 non-null   float64
 64  Sale and Purchase of Stock                           1781 non-null   float64
 65  Sales, General and Admin.                            1781 non-null   float64
 66  Short-Term Debt / Current Portion of Long-Term Debt  1781 non-null   float64
 67  Short-Term Investments                               1781 non-null   float64
 68  Total Assets                                         1781 non-null   float64
 69  Total Current Assets                                 1781 non-null   float64
 70  Total Current Liabilities                            1781 non-null   float64
 71  Total Equity                                         1781 non-null   float64
 72  Total Liabilities                                    1781 non-null   float64
 73  Total Liabilities & Equity                           1781 non-null   float64
 74  Total Revenue                                        1781 non-null   float64
 75  Treasury Stock                                       1781 non-null   float64
 76  For Year                                             1608 non-null   float64
 77  Earnings Per Share                                   1562 non-null   float64
 78  Estimated Shares Outstanding                         1562 non-null   float64
dtypes: float64(76), int64(1), object(2)
memory usage: 1.1+ MB